/*work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles*/
  *{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-top: 0px;
  }
  .btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
border: 0;
  }
  .section-title{
    font-size: 2.9rem;
    font-weight: 700;
    color: #131313;
}
header{
    background: rgba(238, 153, 56, 0.1);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
   
}
nav  li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.3rem;
}
nav li a {
    text-decoration: none;
color: #424242;
}
/* banner styles*/
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-discreption{
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/*main styles*/

main{
    max-width: 1440px;
    margin: 70px auto;
}
/*teams styles*/
.tems-container{

    display: flex;
    align-items: center;
}
.tems-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.tems-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.tems-title{
    font-size: 2.8rem;
}
.tems-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.tems-title .text-fetures{
    color: #FF900E;
    font-weight: 700;  
}
.tems-discription{
    color: gray;
}
/*facts section style*/
.facts-card-container {
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card-stats{
font-size: 2.8rem;
color: #424242;
margin-top: 10px;
margin-bottom: 10px;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:30px ;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;

}




/*responsive media style*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .tems-container
    {
        flex-direction: column;
    }
    .tems-contant{
        padding-left: 20px;
        padding-right: 20px;
    }
    .tems-img-container{
        grid-template-columns: 1fr;
      } 

}

/*medium device responsive style*/
@media screen and (min-width:576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav, .tems-container {
    flex-direction: column;
  } 
  .tems-img-container{
    grid-template-columns: 1fr;
  } 
}