/*work sans font from google font */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles*/
  *{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-top: 0px;
  }
  .btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
border: 0;
  }
header{
    background: rgba(238, 153, 56, 0.1);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.9rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
   
}
nav  li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.3rem;
}
nav li a {
    text-decoration: none;
color: #424242;
}
/* banner styles*/
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-discreption{
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}


/*responsive media style*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}

/*medium device responsive style*/
@media screen and (min-width:576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav{
    flex-direction: column;
  }  
}

/*main styles*/

main{
    max-width: 1440px;
    margin: 0px auto;
}
/*tems styles*/
.tems-container{

    display: flex;
    align-items: center;
}
.tems-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.tems-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.tems-title{
    font-size: 2.8rem;
}
.tems-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.tems-title .text-fetures{
    color: #FF900E;
    font-weight: 700;
    
}